@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------------------------------------------------------Начальные установки**/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

body {
    line-height: 1;
}

img {
    line-height: 1;
}

menu, ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
    border: 0;
}

input {
    cursor: pointer;
}

:focus {
    outline: none;
}

sup {
    vertical-align: super
}

sub {
    vertical-align: sub
}

button {
    cursor: pointer;
}

body {
    background-color: #ffffff;
    font-size: 16px;
}

.clear {
    clear: both;
}

.prob {
    position: absolute;
    top: 0;
    left: 310px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

/*---------------------------------------------------------------------------------Шрифты‹-------------*/

/*---------------------------------------------------------------------------------Шапка--------------*/
header {
    height: 270px;
    width: 100%;
    background: url(../images/fon_header.png) 50% 50% no-repeat;
    background-size: cover;
    background-size: 100% 270px;
    font-family: 'helveticaneuecyrroman',sans-serif;
    font-size: 12px;
    text-align: center;
}

header#header_catalog {
    height: 187px;
}

header#header_card {
    height: 62px;
}

section#header_cont {
    height: 270px;
    width: 1025px;
    margin: 0 auto;
}

div#header_nav {
    padding-top: 13px;
}
div#header_nav h3{
    color: #ffffff;
    float: left;
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 35px;
}
div#header_nav h1 {
    font-family: 'helveticaneuecyrbold',sans-serif;
    font-size: 35px;
    color: #ffffff;
    float: left;
}

div#header_nav a#header_href_main {
    display: block;
    height: 27px;
    width: 121px;
    margin: 5px 0 0 17px;
    color: #ffffff;
    line-height: 27px;
    padding-left: 32px;
    background: url(../images/icon_href_1.png) 8px 50% no-repeat #000000;
    float: left;
}

div#header_nav a#header_href_reg {
    line-height: 15px;
    color: #ffffff;
    float: right;
    padding-left: 10px;
    border-left: 1px solid #ffffff;
    margin-top: 10px;
}

div#header_nav a#header_href_inp {
    line-height: 15px;
    color: #ffffff;
    float: right;
    padding-right: 15px;
    margin-top: 10px;
}

h2#header_txt {
    margin-top: 40px;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
}
.zakaz_blockad_2 {
    background: #f1f1f1 none repeat scroll 0 0;
    margin-top: 15px;
    padding: 25px 35px;
}
/*Выбор столика*/
#header_search {
    overflow: hidden;
    width: 790px;
    margin: 0 auto;
    padding-top: 27px;
}

.block_input {
    width: 628px;
    height: 60px;
    line-height: 60px;
    background: url("../images/block_input_ie.png") repeat-x;
    margin-left: 11px;
    float: left;
    margin-right: 12px;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.in_but_left {
    float: left;
    padding-left: 6px;
}

.in_but {
    margin-top: 0 !important;
}

input.in_but {
    width: 129px;
    height: 60px;
    line-height: 57px;
    background: url("../images/bg_in_but_left.png") no-repeat;
    text-align: center;
    font-family: 'helveticaneuecyrroman',sans-serif;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

input.in_file {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* IE 5.5+*/
    opacity: 0;
    cursor: pointer;
}

.back_left {
    background: url("../images/back_left.png") no-repeat;
    padding-left: 10px;
    margin-top: 16px;
}

.back_right {
    background: url("../images/back_right.png") no-repeat 100% 0;
    padding-right: 10px;
    margin-right: 10px;
    height: 35px;
    width: 610px; /*--+*/
}

.tit_input {
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 18px;
    padding-left: 9px;
    color: #202020;
    float: left;
}

.inp {
    width: 104px;
    height: 38px;
    border: 1px solid #cecfd1;
    border-radius: 6px;
    background: url(../images/bg_inp.png) repeat-x;
    float: left;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 11px;
    position: relative;
    cursor: pointer;
    line-height: 38px;
}

.inp input {
    line-height: 38px;
}

/*.inp{*width: 102px;}*/
span.top {
    position: absolute;
    background: url("../images/span_top.png") no-repeat;
    width: 16px;
    height: 10px;
    right: 3px;
    top: 4px;
    cursor: pointer;
}

span.bottom {
    position: absolute;
    background: url("../images/span_bottom.png") no-repeat;
    width: 16px;
    height: 10px;
    bottom: 4px;
    right: 3px;
    cursor: pointer;
}

.inp input {
    width: 95px;
    height: 38px;
    border: 0;
    float: left;
    outline: none;
    background: none;
    padding-left: 8px;
    font-size: 13px;
    color: #515567;
}

.inp_rest {
    width: 595px;
    background: url("../images/bg_inp_big.png") repeat-x;
}

.inp_rest input {
    width: 587px;
    font-size: 16px;
}

span.text_p {
    position: absolute;
    font-size: 13px;
    color: #515567;
    top: 0;
    left: 25px;
}

/*--Главная-------------------------------------------------------------------------------------------*/
main {
    width: 100%;
}

section.main_cont {
    width: 1025px;
    margin: 0 auto;
    margin-top: 10px;
}

.rest_block {
    position: relative;
    height: 391px;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 13px;
    color: #868686;
    float: left;
    border: 1px solid #d9d9d9;
    margin: 15px 15px 0 0;
    box-shadow: 0 0 4px #9a9a9a;
}

.rest_block a.rest_block_bron {
    position: absolute;
    top: 215px;
    left: 130px;
}

.rest_block:nth-child(4n) {
    margin-right: 0;
}

.rest_block_href {
    position: absolute;
    display: block;
    height: 391px;
    width: 100%;
}

.rest_block h3 {
    padding: 10px 0 3px 12px;
    font-size: 18px;
    color: #202020;
}

.rest_block span {
    padding: 0 0 0 12px;
}

div.rest_block_star {
    margin: 14px 0 0 12px;
}

.rest_block p {
    line-height: 21px;
    padding-left: 25px;
    margin: 12px 0 0 12px;
}

.rest_block img.rest_block_img {
    width: 242px;
    height: 162px;
}

p.rest_block_addr {
    background: url("../images/icon_addr.png") no-repeat;
}

p.rest_block_price {
    background: url("../images/icon_price.png") no-repeat;
}

p.rest_block_time {
    background: url("../images/icon_time.png") no-repeat;
}

p.rest_block_kyhn {
    background: url("../images/icon_kyhn.png") no-repeat;
    max-width: 200px;
}

div.rest_href {
    font-family: 'helveticaneuecyrlight',sans-serif;
    text-align: center;
    margin: 55px 0 110px 0;
}

div.rest_href a {
    font-size: 22px;
    color: #202020;
    text-decoration: underline;
}

div.rest_href p {
    margin-top: 30px;
    line-height: 1.4;
    font-size: 16px;
    color: #747d88;
}

div.rest_href_block {
    width: 150px;
    float: left;
    margin: 90px 53px 0 53px;
}

div.rest_href_block a {
    text-decoration: none;
}

div.rest_href_block a img {
}

div.rest_href_block a p {
    font-size: 18px;
    color: #313131;
    margin-top: 0;
}

/*Каталог выбор*/
div.main_select {
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
    color: #202020;
    padding: 12px 0 0 2px;
    margin-bottom: 15px;
}

div.main_select span {
    margin-right: 5px;
}

div.main_select select {
    height: 36px;
    border: 1px solid #cecfd1;
    border-radius: 5px;
    color: #868686;
}

div.select_one {
    float: left;
}

div.select_one select {
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div.select_metro select {
    width: 165px;
    margin-right: 20px;
    background: url("../images/span_bottom.png") 140px 50% no-repeat;
}

div.select_inst select {
    width: 145px;
    margin-right: 20px;
    background: url("../images/span_bottom.png") 120px 50% no-repeat;
}

div.select_kitch select {
    width: 167px;
    margin-right: 20px;
    background: url("../images/span_bottom.png") 142px 50% no-repeat;
}

div.select_price select {
    width: 163px;
    background: url("../images/span_bottom.png") 138px 50% no-repeat;
}

/*Каталог пагинация*/
div.cat_pagin {
    margin: 50px 0 75px 0;
    float: right;
    text-align: center;
    width: auto;
}

div.cat_pagin a {
    display: block;
    height: 41px;
    width: 41px;
    line-height: 41px;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 22px;
    color: #797979;
    float: left;
}

div.cat_pagin span {
    display: block;
    height: 41px;
    width: 41px;
    font-family: 'helveticaneuecyrlight' ,sans-serif;
    font-size: 22px;
    color: #797979;
    float: left;
    line-height: 41px;
}

div.cat_pagin a.cat_pagin_act {
    background: url("../images/href_activ.png") no-repeat;
    color: #202020;
}

/*Карточка ресторанов*/
a.main_card_main {
    display: block;
    margin-top: 20px;
    padding-left: 25px;
    background: url("../images/icon_href_2.png") 0% 50% no-repeat #ffffff;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
    color: #a6b3b6;
}

h2.main_card_zag {
    margin: 20px 0;
    font-family: 'helveticaneuecyrbold',sans-serif;
    font-size: 18px;
    color: #202020;
}

div.card_soch_cont {
    margin-top: 20px;
}

div.card_soch_block {
    float: left;
    margin-right: 10px;
}

div#card_search {
    margin-top: 20px;
}

div#card_search div.block_input {
    background: url("../images/block_input_ia.png") repeat-x;
    margin-left: 0;
    margin-right: 16px;
    width: 789px;
}

div#card_search div.tit_input {
    padding-left: 15px;
    padding-right: 25px;
    color: #ffffff;
}

div#card_search div.inp {
    width: 177px;
    margin-left: 0;
    margin-right: 54px;
}

div#card_search div.inp input {
    width: 145px;
    font-size: 16px;
    color: #868686;
}

div#card_search div.inp.time {
    width: 105px !important;
}

div#card_search span.text_p {
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
    color: #868686;
    left: 30px;
}

div#card_search span.top {
    right: 7px;
}

div#card_search span.bottom {
    right: 7px;
}

div#card_search input.in_but {
    width: 219px;
    background: url("../images/bg_in_but_left_1.png") no-repeat;
}

div#card_search .in_but_left {
    padding-left: 0;
}

#card_foto {
    margin-top: 25px;
}

#card_opis {
    height: 70px;
    background-color: #eeeeee;
    margin: 20px 0 30px 0;
}

#card_opis p {
    line-height: 21px;
    padding-left: 25px;
    margin: 23px 65px 0 20px;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 13px;
    color: #868686;
    float: left;
}

div#card_omok {
}

div#card_omok ul {
    position: relative;
    bottom: -1px;
}

div#card_omok ul li {
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
    color: #202020;
    float: left;
    border: 1px solid #c8c8c8;
    line-height: 42px;
    width: 109px;
    text-align: center;
    cursor: pointer;
}

div#card_omok ul li.activ_omok {
    color: #ffffff;
    background-color: #202020;
    border: 1px solid #202020;
}

.card_omok_soder {
    border-top: 1px solid #c8c8c8;
    margin-bottom: 140px;
}
.card_omok_soder.n_border {
    border: none!important;
}

#card_omok_contents p, #card_omok_menu p{
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 14px;
    color: #636363;
    text-align: justify;
    margin: 20px 0 0 3px;
    line-height: 1.3;
}

#card_omok_menu p.content{
    margin-top: 5px;
    display: none;
}
/*---------------------------------------------------------------------------------Подвал-------------*/
footer {
    width: 100%;
    margin-top: 0;
}

section.footer_cont {
    height: 83px;
    width: 1025px;
    margin: 0 auto;
    background-color: #202020;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
}

section.footer_cont a.footer_about {
    color: #ffffff;
    float: left;
    line-height: 83px;
    margin-left: 20px;
}

section.footer_cont a.footer_kont {
    color: #ffffff;
    float: left;
    line-height: 83px;
    margin-left: 20px;
}

div.footer_social_cont {
    color: #a7a7a7;
}

div.footer_social_cont p {
    float: right;
    line-height: 83px;
    margin-right: 10px;
}

div.footer_social {
    float: right;
}

div.footer_social a img {
    margin: 24px 10px 24px 0;
}

/*СТРАНИЦА АВТОРИЗАЦИИ*/
.main_black_block_name {
    height: 60px;
    width: 989px;
    margin-top: 64px;
    background: #4F4F4F;
    background-image: -webkit-linear-gradient(top, #4F4F4F, #1B1B1B);
    background-image: -moz-linear-gradient(top, #4F4F4F, #1B1B1B);
    background-image: -ms-linear-gradient(top, #4F4F4F, #1B1B1B);
    background-image: -o-linear-gradient(top, #4F4F4F, #1B1B1B);
    background-image: linear-gradient(to bottom, #4F4F4F, #1B1B1B);
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 64px;
    padding-left: 36px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.form_aspects {
    padding: 35px;
    margin-bottom: 70px;
    background: #F1F1F1;
    overflow: hidden;
}

.par_mail {
    color: #000000;
    display: inline-block;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    height: 60px;
    margin-bottom: 10px;
}

.text_input_form {
    width: 632px;
    padding-left: 10px;
    border: 1px solid #CFD0D2 !important;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    background: #fff;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 16px;
    color: #000000;
}

.par_mail span {
    width: 200px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.radio {
    display: block;
    height: 25px;
    background: url("../images/radio_sprite.png") no-repeat;
    background-position: 0 0;
    coloR: #444;
    cursor: pointer;
    text-indent: 22px;
    font-family: 'helveticaneuecyrlight',sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    padding-left: 14px;
}

.radio.active {
    background-position: 0 -27px;
}

.mar_some_left {
    margin-left: 189px;
}

.link_forg_passwords {
    text-decoration: underline;
    color: #7bb9ee;
    font-size: 18px;
    font-family: 'helveticaneuecyrlight',sans-serif;
}

.link_forg_passwords:hover {
    text-decoration: none;
}

.some_m_enoth {
    margin-right: 119px;
}

.orange {
    background: url("../images/bg_in_but_left_1.png") no-repeat scroll 0 0;
    width: 219px;
    color: #ffffff;
    cursor: pointer;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    height: 60px;
    line-height: 57px;
    text-align: center;
}

.par_margins_orange {
    margin-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid #CFD0D2;
}

.soc_a {
    width: 28px;
    height: 28px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: sub;
    margin-left: 25px;
}

.vk_soc {
    background: url("../images/vk_com.png") no-repeat;
}

.face_soc {
    background: url("../images/fb_com.png") no-repeat;
}

.social_btns p {
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'helveticaneuecyrlight',sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

}

/*СТРАНИЦА АВТОРИЗАЦИИ*/

/*СТРАНИЦА РЕГИСТРАЦИЯ МЕНЕДЖЕРА*/
.pol_text {
    width: 232px !important;
}

.par_margins_orange_2 {
    margin-top: 50px;
    padding-bottom: 35px;
}

.famil_class {
    padding-left: 38px;
    width: 118px !important;
}

/*	=	Select */
.slct {
    display: block;
    border-radius: 5px;
    border: 1px solid #cecece;
    width: 617px;
    padding: 11px 15px 11px 10px;
    color: #000000;
    background: url("../images/arr_downs.png") no-repeat 610px 16px, #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 16px;

}

.slct a {
    color: #000000;
}

.slct.active {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ffffff;
}

.drop {
    margin: 0;
    padding: 0;
    width: 642px;
    border: 1px solid #cecece;
    border-top: none;
    display: none;
    position: absolute;
    background: #fff;
}

.drop li a {
    color: #000000;
}

.drop li {
    list-style: none;
    border-top: 1px dotted #e8e8e8;
    cursor: pointer;
    display: block;
    padding: 9px 15px 9px 11px;
    background-position: 10px -119px;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 16px;

}

.drop li:hover {
    background-color: #e8e8e8;
    color: #222;
}

.mar_so {
    margin-top: 9px;
}

/*СТРАНИЦА РЕГИСТРАЦИЯ МЕНЕДЖЕРА*/

/*СТРАНИЦА БРОНИРОВАНИЯ СТОЛИКА*/
.important_style {
    width: 1025px !important;
    background: #4F4F4F !important;
    background-image: -webkit-linear-gradient(top, #4F4F4F, #1B1B1B) !important;
    background-image: -moz-linear-gradient(top, #4F4F4F, #1B1B1B) !important;
    background-image: -ms-linear-gradient(top, #4F4F4F, #1B1B1B) !important;
    background-image: -o-linear-gradient(top, #4F4F4F, #1B1B1B) !important;
    background-image: linear-gradient(to bottom, #4F4F4F, #1B1B1B) !important;
}

.mar_bott_reserve {
    margin-bottom: 14px;
}

.padd_more_left {
    padding-left: 35px !important;
    padding-right: 85px !important;
}

.classs_mar_r_people {
    margin-right: 100px !important;
}

.poj {
    vertical-align: top;
    margin-top: 7px;
}

.text_arrea_bl {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cfd0d2;
    border-radius: 5px;
    color: #000000;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 16px;
    height: 185px;
    min-height: 185px;
    line-height: 38px;
    padding-left: 10px;
    width: 632px;
    max-width: 632px;
}

.class_he_span {
    height: 60px;
}

.class_he_span {
    width: 500px !important;
    padding-left: 25px;
}

.len_span_ray {
    width: 600px !important;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 14px;
    color: #868686;
    margin-top: 8px;
}

.class_he_span a {
    font-family: 'helveticaneuecyrroman',sans-serif;
    color: #0096BA;
    font-size: 18px;
    text-decoration: underline;
}

.class_he_span a:hover {
    text-decoration: none;
}

.select_wi {
    width: 54px !important;
    height: 16px;
    background-position: 55px 16px !important;
}

.droppeds_wi {
    width: 79px;
    overflow: auto;
    height: 300px;
}

/*.overfl_block_wrapper{*/
/*width: 300px;*/
/*height: 40px;*/
/*overflow: hidden;*/
/*background: #fff;*/
/*border: 1px solid red;*/
/*}*/
/*СТРАНИЦА БРОНИРОВАНИЯ СТОЛИКА*/
.rt {
    border-radius: 5px 0 0 5px;
}

.rt.active {
    border-radius: 5px 0 0 0 !important;
}

.all_rt {
    border-radius: 0;
}

.all_rt.active {
    border-radius: 0 !important;
}

.lt {
    border-radius: 0 5px 5px 0;
}

.lt.active {
    border-radius: 0 5px 0 0 !important;
}

.select_wi2 {
    width: 200px !important;
    height: 16px;
    background-position: 200px 16px !important;
}

.class_pol {
    width: 50px !important;
    margin-left: 101px;
    margin-right: 23px;
    margin-top: 9px;
}

.droppeds_wi2 {
    width: 225px;
}

.wi_span_style {
    width: 100px !important;
}

.gis_style {
    margin-left: 70px;
}

.pol_text2 {
    width: 300px !important;
}

.stole_tetsx {
    font-size: 18px;
    color: #000000;
    font-family: 'helveticaneuecyrroman',sans-serif;
    margin-right: 25px;
}

.classs_mar_r_people_2 {
    margin-right: 34px !important;
}

.important_style_2 {
    width: 1025px !important;
    background: none !important;
}

.class_pol2 {
    margin-right: 4px;
    margin-top: 8px;
    width: 128px !important;
    color: #000000;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
}

.wdr_a {
    color: #000000;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-left: 65px;
    margin-top: 11px;
}

.galka {
    width: 22px !important;
    height: 22px;
    background: url("../images/asd.png") no-repeat;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-left: 9px;
}

.tt_upp {
    text-transform: uppercase;
    /*margin-left: 176px !important;*/
}

.zakaz_blockad {
    margin-top: 15px;
    padding: 25px 35px;
    background: #f1f1f1;
    margin-bottom: 30px;
}
.wdr_a_2{
    color: #000000;
    display: inline-block;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    margin-left: 65px;
    margin-top: 18px;
}

.mar_nones {
    margin-bottom: 0 !important;
}

.zakaz_blockad p span {
    color: #000000;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
}

.delete_black {
    background: #505050;
    background-image: -webkit-linear-gradient(top, #505050, #1B1B1B);
    background-image: -moz-linear-gradient(top, #505050, #1B1B1B);
    background-image: -ms-linear-gradient(top, #505050, #1B1B1B);
    background-image: -o-linear-gradient(top, #505050, #1B1B1B);
    background-image: linear-gradient(to bottom, #505050, #1B1B1B);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    color: #fcfcfd;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    margin-right: 30px;
}

.delete_black:hover {
    background: #1B1B1B;
    background-image: -webkit-linear-gradient(top, #1B1B1B, #505050);
    background-image: -moz-linear-gradient(top, #1B1B1B, #505050);
    background-image: -ms-linear-gradient(top, #1B1B1B, #505050);
    background-image: -o-linear-gradient(top, #1B1B1B, #505050);
    background-image: linear-gradient(to bottom, #1B1B1B, #505050);
    text-decoration: none;
}

.save_orange {
    background: #FFA800;
    background-image: -webkit-linear-gradient(top, #FFA800, #FF7F00);
    background-image: -moz-linear-gradient(top, #FFA800, #FF7F00);
    background-image: -ms-linear-gradient(top, #FFA800, #FF7F00);
    background-image: -o-linear-gradient(top, #FFA800, #FF7F00);
    background-image: linear-gradient(to bottom, #FFA800, #FF7F00);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    color: #fcfcfd;
    padding: 10px 29px 10px 29px;
    text-decoration: none;
}

.save_orange:hover {
    background: #FF7F00;
    background-image: -webkit-linear-gradient(top, #FF7F00, #FFA800);
    background-image: -moz-linear-gradient(top, #FF7F00, #FFA800);
    background-image: -ms-linear-gradient(top, #FF7F00, #FFA800);
    background-image: -o-linear-gradient(top, #FF7F00, #FFA800);
    background-image: linear-gradient(to bottom, #FF7F00, #FFA800);
    text-decoration: none;
}

.errorlist li {
    font-size: 14px;
    font-family: "helveticaneuecyrroman",sans-serif;
    color: rgba(255, 5, 18, 0.68);
    margin-top: 5px;
}

#id_sex {
    width: 200px !important;
}

#id_sex-button {
    width: 240px !important;
    height: 35px !important;
    padding-top: 3px !important;
    line-height: 24px !important;
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 16px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

#id_sex-button .ui-icon-triangle-1-s {
    background-position: -68px -16px !important;
    height: 10px !important;
    left: auto !important;
    margin-top: -8px !important;
    position: absolute !important;
    right: 0.5em !important;
    top: 50% !important;
    width: 10px !important;
}

#id_bron {
    width: 200px !important;
}

#id_bron-button {
    width: 240px !important;
    height: 35px !important;
    padding-top: 3px !important;
    line-height: 24px !important;
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 16px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

#id_bron-button .ui-icon-triangle-1-s {
    background-position: -68px -16px !important;
    height: 10px !important;
    left: auto !important;
    margin-top: -8px !important;
    position: absolute !important;
    right: 0.5em !important;
    top: 50% !important;
    width: 10px !important;
}

#id_dey {
    width: 200px !important;
}

#id_dey-button {
    width: 240px !important;
    height: 35px !important;
    padding-top: 3px !important;
    line-height: 24px !important;
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 16px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

#id_dey-button .ui-icon-triangle-1-s {
    background-position: -68px -16px !important;
    height: 10px !important;
    left: auto !important;
    margin-top: -8px !important;
    position: absolute !important;
    right: 0.5em !important;
    top: 50% !important;
    width: 10px !important;
}

#id_place {
    width: 200px !important;
}

#id_place-button {
    width: 642px !important;
    height: 35px !important;
    padding-top: 3px !important;
    line-height: 24px !important;
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 16px !important;
    background: #fff !important;
    border-radius: 5px !important;
}

#id_place-button .ui-icon-triangle-1-s {
    background-position: -68px -16px !important;
    height: 10px !important;
    left: auto !important;
    margin-top: -8px !important;
    position: absolute !important;
    right: 0.5em !important;
    top: 50% !important;
    width: 10px !important;
}

.cl_7 {
    margin-top: 7px;
}

.blue_style_link {
    color: #0096ba;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 15px;
}

/*	=	CheckBox */
/* РЎС‚РёР»РёР·РёСЂСѓРµРј С‡РµРєР±РѕРєСЃ, С‚РѕС‡РЅРµРµ СЃРєСЂС‹РІР°РµРј РµРіРѕ */
.check input[type=checkbox] {
    position: absolute;
    left: -10000px;
}

.check {
    background: url("../images/checks.png") no-repeat;
    background-position: 0 1px;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
}

.check.active {
    background-position: 0 -32px;
}

.cheText {
    color: #000000;
    display: inline-block;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
}

.checkboxesmar {
    margin-left: 200px;
}

.gvp {
    margin-top: 30px;
}

.search_form_field {
    position: relative;
    width: 247px;
    height: 60px;
    vertical-align: top;
    margin-right: 27px;
}

.search_text {
    width: 189px;
    height: 40px;
    background: #fff;
    vertical-align: top;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 40px;
}

.search_submit {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: url("../images/search_images.png") no-repeat center center;
    font-size: 0;
}

.years_blocks {
    height: 65px;
    background: #F1F1F1;
}

.mar_top_middle {
    margin-top: 13px;
    margin-right: 34px;
}

.deyst {
    font-family: 'helveticaneuecyrbold',sans-serif;
    color: #000000;
    font-size: 18px;
    margin-right: 1px;
    margin-top: 10px;
}

.ul_years {
    margin-left: 35px;
    margin-top: 23px;
}

.ul_years li {
    float: left;
    margin-right: 20px;

}

.ul_years li a {
    font-family: 'helveticaneuecyrbold',sans-serif;
    color: #000000;
    font-size: 18px;
}

.ul_years li a.active {
    color: #6c3334;
}

.main_page_table {
    margin-top: 15px;
}

.head_tr {
    background: #F3F3F3;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D0D0D0);
    background-image: -moz-linear-gradient(top, #F3F3F3, #D0D0D0);
    background-image: -ms-linear-gradient(top, #F3F3F3, #D0D0D0);
    background-image: -o-linear-gradient(top, #F3F3F3, #D0D0D0);
    background-image: linear-gradient(to bottom, #F3F3F3, #D0D0D0);
    border-radius: 5px 5px 0 0;
    height: 60px;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 16px;
    font-weight: normal !important;
    color: #000000;
}

/*.main_page_table table tbody{*/
/*height: 605px;*/
/*overflow: auto;*/
/*}*/
/*.main_page_table table tbody tr{*/
/*height: 80px;*/
/*}*/
.main_page_table table tr td {
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: center;
    height: 60px;
    border-left: 1px solid #C1C1C1;
}

.none_bor {
    border-left: none !important;
}

.main_page_table tbody tr td {
    text-align: center;
}

.table_dis_v {
    width: 1023px;
    min-height: 80px;
    max-height: 650px;
    overflow-x: hidden;
    border-bottom: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    border-left: 1px solid #c1c1c1;
    margin-bottom: 64px;
}

.radio_table {
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 14px !important;
    margin-left: 20px;
    width: 50px !important;
}

.table_dis_v table tr:nth-child(even) {
    background: #F1F1F1;
}

.par_mail2 {
    color: #000000;
    display: inline-block;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    /*height: 60px;*/
    margin-bottom: 10px;
}

.par_mail2 span {
    display: inline-block;
    width: 200px;
}
.mr_left_oranges{
    margin-left: 12px;
}
.mar_linls{
    text-align: left;
    height: 18px;
}
.gv_st{
    margin-left: 23px;
}
.gel_links{
    padding-left: 14px;
    color: #7bb9ee;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
}
.gel_links:hover{
    text-decoration: underline;
}
.removable td:first-child{
    border-left: none !important;
}
.div_libk_edit_block{
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 300px;
    color: #7bb9ee;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
}
.div_libk_edit_block:hover{
    text-decoration: underline;
}
.par_sort{
    font-family: 'helveticaneuecyrbold',sans-serif;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
}
.par_sort a{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    color: #000000;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 60px;
}
.par_sort a:hover{
    text-decoration: underline;
}
.par_sort a.active{
    color: #6c3334;
}
.black_bg_blocks{
    height: 37px;
    line-height: 37px;
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    margin-left: 10px;
    margin-top: 17px;
    padding-left: 13px;
    width: 762px;
}
.ul_wr_appers li{
    float: left;
}
.ul_wr_appers li a{
    color: #ffffff;
    font-size: 18px;
    font-family: "helveticaneuecyrroman",sans-serif;
    text-transform: uppercase;
    padding-right:20px;
    background: url("../images/arr_down_links.png") no-repeat right center;
}
.lin_mar{
    margin-right: 80px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 999;
    opacity: 0.6;
    filter: alpha(opacity=60);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
}

.popup {
    display: none;
    position: absolute;
    border: 1px solid #9D9D9E;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border-radius: 10px;
    padding: 60px 20px 20px 35px;
}

.close {
    display: block;
    width: 16px;
    cursor: pointer;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url("../images/close_popups.png") no-repeat;
}


.metro_popup_size{
    width: 974px;
    height: 700px;
    margin: 0 0 0 -515px;
    top: 100px;
}

.main_text_popup{
    font-size: 24px;
    color: #000000;
    font-family: 'helveticaneuecyrbold',sans-serif;
    margin-bottom: 15px;
}
.second_parg{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    color: #000000;

}
.metro_maps{
    background: url("../images/metro_map.jpg") no-repeat;
    width: 953px;
    height: 625px;
    position: relative;
}
.mar_top_middle2{
    margin-right: 34px;
    margin-top: 2px;
}
.inl{
    display: inline-block;
}
.mar_more_s{
    margin-right: 11px;
    margin-top: 11px;
}

.check_all input[type="checkbox"] {
    left: -10000px;
    position: absolute;
}
.check_all {
    background: rgba(0, 0, 0, 0) url("../images/checks.png") no-repeat scroll 0 1px;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
}
.check_all.active {
    background-position: 0 -32px;
}
.metro_maps a{
    position: absolute;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
}
.metro_maps a:hover{
    text-decoration: underline;
    color: #0b9649;
}
.h_g{
    left: 134px;
    top: 183px;
}
.u_v{
    left: 153px;
    top: 211px;
}
.c_r{
    left: 144px;
    top: 241px;
}
.s_v{
    left: 262px;
    top: 279px;
}
.i_m{
    left: 201px;
    top: 299px;
}
.p_g{
    left: 238px;
    top: 321px;
}
.s_t{
    left: 321px;
    top: 353px;
}
.m_i_v{
    left: 443px;
    top: 347px;
}
.z_i_m{
    left: 481px;
    top: 382px;
}
.m_p{
    left: 507px;
    top: 410px;
}
.m_j{
    left: 534px;
    top: 439px;
}
.s_a{
    left: 564px;
    top: 469px;
}
.i_ma{
    left: 594px;
    top: 498px;
}
.t_z{
    left: 622px;
    top: 527px;
}
.p_t{
    left: 651px;
    top: 557px;
}
.p_p{
    left: 221px;
    top: 54px;
}
.a_y{
    left: 274px;
    top: 82px;
}
.tw_a{
    left: 331px;
    top: 112px;
}
.b_s{
    left: 267px;
    top: 142px;
}
.n_a{
    left: 347px;
    top: 173px;
}
.g_p{
    left: 343px;
    top: 224px;
}
.g_t{
    left: 626px;
    top: 50px;
}
.s_ty{
    left: 599px;
    top: 80px;
}
.a_p{
    left: 569px;
    top: 109px;
}

.a_b{
    left: 542px;
    top: 137px;
}

.k_i{
    left: 514px;
    top: 166px;
}

.p_u{
    left: 484px;
    top: 194px;
}
.u_n{
    left: 443px;
    top: 230px;
}

.a_be{
    left: 441px;
    top: 267px;
}

.p_vo{
    left: 442px;
    top: 303px;
}
.fi_e{
    height: 59px;
}
.di_bloca{
    display: inline-block;
    overflow: hidden;
    height: 210px;
}

.zaved_popup_size{
    width: 974px;
    margin: 0 0 0 -515px;
    top: 100px;
}
.fl_block_33{
    width: 33%;
    text-align: center;

}

.named{
    font-size: 24px;
    color: #000000;
    font-family: 'helveticaneuecyrbold',sans-serif;
    margin-bottom: 20px;
}
.opis a{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-bottom: 10px;
}
.opis a:hover{
    text-decoration: underline;
    color: #397fc6;
}
.pza{
    margin-bottom: 80px;
}
.one_z{
    margin-bottom: 10px;
    min-height: 160px;
}
.overfl_bl1{
    overflow: hidden;
}

.kitchen_popup_size{
    width: 974px;
    margin: 0 0 0 -515px;
    top: 100px;
}
.sch_popup_size{
    width: 974px;
    margin: 0 0 0 -515px;
    top: 100px;
}
.left_lk_block{
    width: 200px;
}
.right_lk_form{
    width: 670px;
}
.avatar_photo{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background: url("../images/no_photo_lk.jpg") no-repeat;
    background-size: cover;
}
.his_zak{
    background: #505050;
    background-image: -webkit-linear-gradient(top, #505050, #1A1A1A);
    background-image: -moz-linear-gradient(top, #505050, #1A1A1A);
    background-image: -ms-linear-gradient(top, #505050, #1A1A1A);
    background-image: -o-linear-gradient(top, #505050, #1A1A1A);
    background-image: linear-gradient(to bottom, #505050, #1A1A1A);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-family: "helveticaneuecyrroman",sans-serif;
     width: 200px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
}

.dis_none{
    display: none;
}

/*	=	File Load */

.file-load-block {
    width: 310px;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.fileload{
    margin-bottom: 15px;
}
.file-load-block input[type=file] {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    font-size: 600px;
    z-index: 2;
    cursor: pointer;
    width: auto;
}

.file-load-block input[type=text] {
    z-index: 1;
    width: 190px;
    padding-right: 10px;
    white-space:nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.en_wi{
    width: 450px !important;
}
.heushka{
    height: 65px;
    margin-bottom: 9px;
}
.orange_btns{
    margin-left: 85px;
    margin-top: 100px;
}
.ui-selectmenu-menu .ui-menu{
    /*padding-bottom: 12px !important;*/
    /*padding-top: 12px !important;*/
    padding: 0 !important;
}

.ui-menu .ui-menu-item{
    color: #000000 !important;
    font-family: "helveticaneuecyrlight",sans-serif !important;
    font-size: 16px !important;
    line-height: 24px !important;
    padding-left: 10px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ui-state-focus{
    border: none !important;
}
.min_he{
    min-height: 610px;
}
.theadz tr th{
    color: #000000;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    padding-left: 27px;
    text-align: left;
}
.theadz tr{
    border-bottom: 1px solid #C4C4C4;
    height: 50px;
    line-height: 50px;
}
.tbodyz tr td{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    color: #000000;
    line-height: 50px;
}
.close_btns_tr{
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 28px;
    height: 28px;
    background: url("../images/close_trs.png") no-repeat;
    margin-left: 5px;
    margin-top: 17px;
    cursor: pointer;
}

.alert{
    position: fixed;
    display: none;
    width: 1000px;
    left: 50%;
    margin-left: -513px;
    top: 0;
    margin-top: 0;
    z-index: 9999;
    background: #FF9300;
    padding-left: 25px;
    border-radius: 5px;
    min-height: 50px;
}
.fz_lis{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 15px;
    list-style-type: disc;
    margin-left: 9px;
    padding-left: 6px;

}
.theadz a{
    color: #000000;
}

.filters_blocks{
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #808080;
    margin-bottom: 35px;
}
.float_text{
    color: #000000;
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    width: 100%;
    text-align: right;
}
.one_filters_block{
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.one_filters_block ul li{
    padding: 6px 10px 6px 15px;
    border-radius: 3px;
    height: 17px;
    overflow: hidden;
}
.akad{
    color: #000000;
    display: inline-block;
    float: left;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-decoration: underline;
    width: 181px;
}
.akad:hover{
    text-decoration: none;
}
.one_filters_block ul li.active{
    background: #FF9300;
    padding: 6px 10px 6px 15px;
}
.one_filters_block ul li.active a{
    color: #ffffff;
}
.numbs{
    color: #000000;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 14px;
    padding: 0 5px;
    border: 1px solid #808080;
    background: #ffffff;
    border-radius: 4px;
    height: 14px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 11px;
}
.span_closes{
    background: url("../images/white_close.png") no-repeat;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 8px;
    height: 8px;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.one_filters_block ul li span.span_closes{
    display: none;
}
.one_filters_block ul li.active span.span_closes{
    display: block !important;
}
.classs_text_search_result{
    color: #000000;
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 18px;
}

.left_block_card_slider{
    width: 500px;
    float: left;
}

.card_info_mains{
    height: 360px;
    margin-top: 43px;
}


.photosgallery-captions .sliderkit-panel{
    height: 270px !important;
}
.photosgallery-captions{
    height: 280px !important;
}

.photosgallery-captions .sliderkit-nav{
    background: none !important;
}
.photosgallery-captions .sliderkit-nav-clip ul li{
    width: 77px !important;
    height: 73px !important;
    margin-right: 11px !important;
    outline: none !important;
}
.photosgallery-captions .sliderkit-nav-clip ul li a{
    outline: none !important;
}
.photosgallery-captions .sliderkit-nav-clip ul li a{
    width: 77px !important;
    height: 73px !important;
}
.photosgallery-captions .sliderkit-nav-clip ul li a img{
    width: 77px !important;
    height: 73px !important;
}
.photosgallery-captions .sliderkit-nav{
    padding: 0!important;
}
.sliderkit .sliderkit-nav-clip{
    margin-left: 34px !important;
}
.photosgallery-captions .sliderkit-nav .sliderkit-go-next{
    right: 6px !important;
    height: 29px !important;
    width: 18px !important;
    top: 22px !important;
}
.photosgallery-captions .sliderkit-nav .sliderkit-go-prev {
    left: 6px !important;
    top: 22px !important;
    height: 29px !important;
    width: 18px !important;

}

.photosgallery-captions .sliderkit-nav .sliderkit-go-prev a{
    background: url("../images/left_slider_kit.png") no-repeat !important;
    outline: none;
    height: 29px !important;
    width: 18px !important;
}

.photosgallery-captions .sliderkit-nav .sliderkit-go-next a{
    background: url("../images/right_slider_kit.png") no-repeat !important;
    outline: none;
    height: 29px !important;
    width: 18px !important;
}
.photosgallery-captions .sliderkit-nav{
    width: 500px !important;
}

.right_card_blocks{
    width: 500px;
    float: right;
}
.rest_card_name{
    color: #202020;
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 24px;
    margin-bottom: 36px;
}
.ocenka_itog{
    width: 500px;
    height: 360px;
}
.itog_summ{
    width: 90px;
    height: 90px;
    background: #FF9300;
    line-height: 90px;
    border-radius: 5px;
    float: left;
}
.itog_summ{
    font-size: 48px;
    color: #ffffff;
    font-family: 'helveticaneuecyrmedium',sans-serif;
    text-align: center;
}
.flot_progress_block{
    width: 392px;
    overflow: hidden;
    height: 90px;
    padding-left: 14px;
}
.ocentrf{
    font-family: 'helveticaneuecyrmedium',sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-bottom: 31px;
}
.name_stata{
    width: 75px;
    float: left;
    height: 20px;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 16px;
    color: #000000;
}

.stata-style{
    width: 78px;
    height: 14px !important;
    border: 1px solid #878787;
    border-radius: 2px !important;
    float: left;
}

.stata-style .ui-progressbar-value{
    border-radius: 2px !important;
    background: #FFD9A5;
}
.one_stata{
    width: 185px;
    float: left;
    margin-bottom: 4px;
}
.numbsa{
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 20px;
    height: 20px;
    float: right;
    font-family: "helveticaneuecyrbold",sans-serif;
    color: #000000;
    font-size: 16px;
    margin-right: 5px;
}
.mr{
    margin-right: 20px;
}
.fz_midle p {
    color: #868686;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 13px;
    line-height: 21px;
    margin: 27px 65px 0 0;
    padding-left: 30px;
}
.fz_midle{
    margin-top: 40px;
}
.mar_bots_oms{
    margin-bottom: 40px;
}
.wrapp_rew{
    border-bottom: 1px solid #C9C9C9;
    overflow: hidden;
}
.n_border{
    border: none!important;
}
.one_client_rew{
    border-top: 1px solid #C9C9C9;
    margin-top: 30px;
    overflow: hidden;
}
.image_ava{
    width: 102px;
    float: left;
}
.image_ava img{
    margin-bottom: 10px;
}
.image_ava span{
    font-family: "helveticaneuecyrlight",sans-serif;
    color: #9d9d9d;
    font-size: 12px;
    text-align: justify;
    width: 102px;
}
.rew_text_and_info{
    float: left;
    padding: 10px;
    width: 896px;
}
.named_user{
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 15px;
    color: #202020;
    margin-bottom: 5px;
}
.oc{
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 15px;
    color: #ff9201;
    margin-bottom: 5px;
}
.text_same_rew{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: 15px;
    line-height: 17px;
}
.oc_p span{
    color: #ff9201;
    font-size: 13px;
    font-family: "helveticaneuecyrlight",sans-serif;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-right: 30px;
}

.pagin_none_mar{
    margin-bottom: 25px !important;
}
.form_golos{
    overflow: hidden;
    padding-top: 30px;
}
.left_text-ar_block{
    width: 530px;
    float: left;
    height: 200px;
}
.par_we_ver_imp{
    color: #000000;
    font-size: 16px;
    font-family: "helveticaneuecyrbold",sans-serif;
    margin-bottom: 30px;

}
.text_arr{
    min-width: 490px;
    max-width: 490px;
    padding: 10px;
    font-family: "helveticaneuecyrroman",sans-serif;
    color: #999797;
    font-size: 14px;
    border: 1px solid #C9C9C9;
    min-height: 120px;
    max-height: 120px;
}

.right_radio_blocks{
    width: 470px;
    height: 200px;
    float: right;
}
.text_cantersa{
    text-align: center;
    margin-top: 35px;
 }

.left_pS{
    width: 95px;
    height: 20px;
    float: left;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 16px;
    color: #000000;
}
.right_numbers{
    width: 370px;
    height: 20px;
    float: left;
}

.span_mu span{
    font-family: "helveticaneuecyrroman",sans-serif;
    color: #000000;
    font-size: 16px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    padding-left: 6px;
}
.flo_ri{
    float: right;
    width: 10px !important;
    margin-right: 10px;
    margin-top: -15px;
}

.b_bott{
    border-bottom: 1px solid #D0CECE;
}
.zaved_choo_oc{
    overflow: hidden;
    margin-bottom: 10px;
}

.radio_1 {
    background: url("../images/rad.png") no-repeat 0 0;
    color: #444;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    text-indent: 22px;
    padding-left: 3px;
    width: 36px;
}
.radio_1.active {
    background: url("../images/rad.png") no-repeat 0 -24px;
}
.lst_c{
    float: right !important;
    width: 15px;
}
.gray_bl{
    width: 13px;
    height: 11px;
    background: url("../images/gray_down.png") no-repeat;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 5px;
}
.brown_bl{
    width: 13px;
    height: 11px;
    background: url("../images/brown_down.png") no-repeat;
    display: inline-block;
    *zoom:1;
    *display: inline;
    margin-left: 5px;
}
.topp{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.messagelist li{
    list-style-type: none;
    width: auto !important;
    border: none !important;
    color: #8ec02f !important;
}

.errorlist li{
    list-style-type: none;
    width: auto !important;
    border: none !important;
    color: #DF130D !important;
}
#header_href_inp:hover{
    text-decoration: underline;
}
#header_href_reg:hover{
    text-decoration: underline;
}
.footer_about:hover{
    text-decoration: underline;
}
.footer_kont:hover{
    text-decoration: underline;
}


/*404*/
.containers{
    width: 100%;
    height: 100%;

}
.bodyc{
    background-image: -webkit-linear-gradient(top, #FAFAFA, #E0E6E3);
    background-image: -moz-linear-gradient(top, #FAFAFA, #E0E6E3);
    background-image: -ms-linear-gradient(top, #FAFAFA, #E0E6E3);
    background-image: -o-linear-gradient(top, #FAFAFA, #E0E6E3);
    background-image: linear-gradient(to bottom, #FAFAFA, #E0E6E3);
    height: 100%;
    width: 100%;
    position: relative;
}
.containers{
    width: 1080px;
    height: 630px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -315px;
    margin-left: -540px;

}
.left_img_bl{
    width: 523px;
    height: 622px;
    background: url("../images/img404.png") no-repeat;
    float: left;
}

.right_404_bl{
    width: 500px;
    height: 622px;
    float: right;
}
.err{
    font-size: 72px;
    color: #fbfdfc;
    font-family: "helveticaneuecyrlight",sans-serif;
}
.gfa{
    width: 500px;
    height: 130px;
    display: block;
    line-height: 130px;
    background: #C8040E;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 100px;
}
.fofo{
    font-family: "helveticaneuecyrbold",sans-serif;
    font-size: 72px;
    color: #fbfdfc;
    margin-left: 35px;
}
.sorry_for_party_rocking{
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 35px;
    color: #202020;
    line-height: 40px;
    margin-left: 20px;
    margin-bottom: 80px;
}
.hlip_fz{
    text-align: center;
}
.hlip_fz a{
    color: #0082CC;
    font-family: "helveticaneuecyrlight",sans-serif;
    font-size: 18px;
    text-decoration: underline;

}
.adzc{
    margin-right: 100px;
}
.hlip_fz a:hover{
    text-decoration: none;
}


/*404*/
.fz_left{
    float: left !important;
}
.f_cos{
    float: left !important;
    width: 33px;
    height: 33px;
    margin-right: 7px;
}
.wrapp_divs{
    float: left !important;
    margin-right: 12px;
    margin-top: 25px;
}
.fr_ri{
    float: right;
}

.soc{
 background: url("../images/soc_sprite.png") no-repeat;
}
.vk_com{
    background-position: 0 0;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    height: 33px;
}
.vk_com:hover{
    background-position: 0 -33px;
}

.tw_com{
    background-position: -41px 0;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    height: 33px;
}
.tw_com:hover{
    background-position: -41px -33px;
}

.fb_com{
    background-position: -84px 0;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    height: 33px;
}
.fb_com:hover{
    background-position: -84px -33px;
}

.go_com{
    background-position: -126px 0;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    height: 33px;
}
.go_com:hover{
    background-position: -126px -33px;
}

.ins_com{
    background-position: -168px 0;
    display: inline-block;
    *zoom:1;
    *display: inline;
    width: 33px;
    height: 33px;
}
.ins_com:hover{
    background-position: -168px -33px;
}


.rest_block_star p{
    font-family: "helveticaneuecyrlight",sans-serif;
    color: #202020;
    font-size: 16px;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.rest_block_star span{
    font-family: "helveticaneuecyrroman",sans-serif;
    font-size: 18px;
    color: #202020;
}

.he_img_bh{
    height: 162px;
    width: 242px;
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
    background: url("../images/main_without_pic_restoran.png") no-repeat;
}


.hr_name_link{
    color: #202020;
    font-size: 18px;
    padding: 10px 0 3px 12px;
    text-decoration: none;
    display: block;
    font-family: "helveticaneuecyrroman",sans-serif;
    font-weight: 600;
}
.hr_name_link:hover{
    text-decoration: underline;
}
.hide_title{
    top: 23px;
    left: -6px;
    position: absolute;
    text-align: center;
    width: 220px;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px !important;
    display: none;
    font-family: "helveticaneuecyrroman",sans-serif;
}
.relative_class_for_hide_element{
    position: relative;
    cursor: pointer;
}
.tre{
    position: absolute;
    top: -13px;
    border: 7px solid transparent;
    border-bottom: 7px solid #000;
    padding: 0 !important;
    margin-left: -4px;
    left: 50%;

}